[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
django-debug-toolbar = "*"
"psycopg2" = "*"
django-registration-redux = "==2.0"
gunicorn = "*"
django-heroku = "*"
django-category = "*"
django-multiselectfield = "*"
django-filter = "*"
django-bootstrap-form = "*"
django-phone-field = "*"
beautifulsoup4 = "*"
pillow = "*"
djangorestframework = "*"
django-crispy-forms = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
yapf = "*"

[requires]
python_version = "3.7"
