{% extends 'base.html' %} 
{% block title %}
{{ post.title }} - {{ block.super }} 
{% endblock title %}

{% block content %}

<div class ="box">
        
        <h1 class="title"> {{business.name}}</h1>
        <h3>Business Address: {{business.address}}</h3>
        <p>Average Rating {{business.average_rating}}</p>
        <p>________________________________________________</p>
        <br>
       

       
<h2>Upcoming Events for {{business.name}}: <h2>

        {% for event in events %}
                <div >
                        <h1><a href="{% url 'event_detail' slug=event.slug %}"> Event Title:{{event.title}} </a></h1>
                        
                </div>
        {% endfor %}

        <p>________________________________________________</p>
        <br>

<h2>Leave A review for {{business.name}} : </h2>


        <form role="form" action="" method="post" class= "subtitle is-4" >
                {% csrf_token %}
                {{ form.as_table }}
                <br>
                <button type="submit" class = "button hero is-outlined  form-padding">Submit</button>   
        </form> 
        <p>________________________________________________</p>


</div>



<h2>All User Reviews for {{business.name}} </p>
        <p>REVIEWS Start Here </p>

                {% for review in review %}
                        <div class="box"> 
                                <h2 class = "subtitle"> User:  {{ user }} </h2>
                                <h2 class = "subtitle"> Review:  {{ review.text }} </h2>
                                <h2 class = "subtitle"> Rating:  {{ review.rating }} </h2>

                                 {% comment %} {% if user == review.reviewer or user.is_staff %} {% endcomment %}
                                <a class="button" href="{% url 'user_delete_review' id=review.id %}" ><i class="fas fa-trash-alt"></i> &nbsp; Delete</a>
                                {% comment %} {% endif %}  {% endcomment %}



                        </div>

                {% endfor %}

        <p>REVIEWS End Here </p>

<br>
<br>
<br>
<br>
<br>



{% endblock content %}