{% extends 'base.html' %} 
{% block title %}
Homepage - {{ block.super }} 
{% endblock title %}

{% block content %}
<h1>---------------BUSINESS DIRECTORY-------------------</h1>

<div class="advance-search">
    <form id="searchform" action="{% url 'business_list' %}" method="get" accept-charset="utf-8">
        <button class="searchbutton" type="submit">
          <i class="fa fa-search"></i>
        </button>
        <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
      </form>>
<div class="row">
    
{% for business in business_list %}

<div >       
    <div >    
        <h1><a href="{% url 'business_detail' slug=business.slug %}"> Name:{{business.name}} </a></h1>
        <h2>Address:{{business.address }} </h2> 
         <p>BUSINESS RATING: {{business.average_rating}}</p>
         <p> ______________________________________________ <p>
   </div>
   </div>
    {% endfor %}
    
    

{% endblock content %}