{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block title %}
    Login - {{ block.super }} 
{% endblock title %}
{% block content %}
 
 

 <div class="container">
<h1 class="fonttitle "> Login </h1>
		<div class="row">

    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary "type="submit" value="Submit" />
    </form>
    <p>
        <a href="{% url 'password_reset' %}">
        Forgot your password? </a>
    </p>
    
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}