{% extends 'base.html' %} 
{% block title %}
    Logout - {{ block.super }} 
{% endblock title %}

{% block content %}

    <h1 class="fonttitle center">Logged Out</h1>
    <p class="center">You have been logged out. See you out there!</p> 



    <br>
     <br>
      <br>
       <br>
        <br>
         <br>
          <br>
           <br>
            <br>
             <br>
              <br>
               <br>
                <br>
                 <br>
                  <br>
                   <br>
                    <br>

{% endblock content %}