{% extends 'base.html' %} 
{% load staticfiles %} 
{% load el_pagination_tags %}
{% load crispy_forms_tags %}
{% block pageheader %}


{% endblock pageheader %}

{% block title %}
Business Details - {{ block.super }} 
{% endblock title %}

{% block content %}
<!--===================================
=            Header           =
====================================-->


<!--===================================
=            Main Section          =
====================================-->
<section class="section ">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<!-- Left sidebar -->
			<div class="col-md-8">
				<div id = "business" data-business-id = "{{ business_review.pk }}" class="product-details">
					<h1 class="raleway">{{business_review.name}}</h1>
					
					{% if business_review.avg_rating %}
					<h4 class="widget-header text-large raleway"><i class="fa fa-star" style="color:#FFCF48;"></i> Parent Rated: {{ business_review.avg_rating|floatformat:"1" }}</h4>
					<br>
					{% else %}
					<h4 class="widget-header text-large raleway"><i class="fa fa-star" style="color:#FFCF48;"></i> No ratings yet!  </h4>
					<br>
					{% endif %}
					
					<div class="product-meta">
						<ul class="list text-large">
							 
							
							<li class="list-inline-item"><i class="fa fa-location-arrow" style="color:#d01c2e;"></i>  {{business_review.address}} , {{business_review.city}}</li>
							
							<li class="list-inline-item"><i class="fa fa-phone" style="color:#9933ff;"></i>  {{business_review.phone}}</li>
						<li class="list-inline-item"><i class="fa fa-laptop" style="color:#ff9933;"></i> <a href="{{business_review.link}}" target="_blank" > Visit this webpage </a> </li>
						<li class="list-inline-item"><i class="fa fa-check " style="color:#28a745;"></i>  {{business_review.reviews.count}} reviews  </li>
						</ul>
						<br>
						<p class="list-inline-item"><i class="fas fa-globe-americas" style="color:#0000ff;"></i> {{business_review.categories}}</p>



						
						
					</div>
					
					
					
					
					
					<div class="content">
						<ul class="nav nav-pills  justify-content-left" id="pills-tab" role="tablist">
							<li class="nav-item green">
								<a class="nav-link raleway active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"> Reviews </a>
							</li>
							<li class="nav-item">
								<a class="nav-link raleway" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> Upcoming Events </a>
							</li>
							<li class="nav-item">
								<a class="nav-link raleway" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"> Leave A Review </a>
							</li>
						</ul>
						<div class="tab-content " id="pills-tabContent">
							<div class="pre-scrollable tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
								<h3 class="tab-title raleway">Reviews for {{business_review.name}}</h3>

								<!-- Messages if not logged in go here -->

								{% if messages %}
							{% for message in messages %}
								<div id="notification" class="message-header">
								{{ message }}
								</div>
							{% endfor %}
						{% endif %}
								

							<!-- Review For Loop -->
							{% paginate 7 review %}
                {% for review in review %}
				

				<div class="card border-secondary mb-10" style="max-width: 50rem;">
					<div class="card-header">
					<ul class="list">
							
							 <li class="list-inline-item"><i class="fa fa-star" style="color:#FFCF48;"></i> {{ review.rating }} / 5.0 </li> 
							 <li class="list-inline-item"> <b> "{{ review.title }} " </b></li> 
							
							{% comment %} <li class="list-inline-item"><i class="fas fa-globe-americas" style="color:#0000ff;"></i> Categories:<a href=""></a></li>
							<li class="list-inline-item"><i class="fa fa-location-arrow" style="color:#7CFC00;"></i> Location: <a href="">/a></li> {% endcomment %}
						</ul>

					</div>
					<div class="card-body text-secondary">
							<ul>

							<li class="list-inline-item"><i class="fas fa-user" style="color:#0000ff;"> </i> {{ review.reviewer }} </li>
							<li class="list-inline-item"><i class="fas fa-compass" style="color:#ff9933;"> </i> activity: "{{ review.event}}" </li>
							<li class="list-inline-item"><i class="fas fa-calendar" style="color:#28a745;"> </i> {{ review.created_at}} </li>
							</ul>
							<br>
						
						<p >"{{ review.text }}"</p>
					</div>
					</div>
					<br> 
					


                                 {% comment %} Delete Comment Section  {% if user == review.reviewer or user.is_staff %} {% endcomment %}
                                {% comment %} <a class="button" href="{% url 'user_delete_review' id=review.id %}" ><i class="fas fa-trash-alt"></i> &nbsp; Delete</a> {% endcomment %}
                                {% comment %} {% endif %}  {% endcomment %}
                        

                {% endfor %}
				{% show_pages %}
				
								<!-- End Review For Loop -->
								

							</div>
							<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
							
								<h3 class="tab-title raleway">Upcoming Events </h3>

								<!-- Event For Loop -->
								
								{% if events %}
									{% for event in events %}
								<div class="media">
									{% if event.image %}
										<img class="mr-3 roundit" height="120" width="120" src="{{ event.image.url }}" alt="Generic placeholder image">
									{% else %}
										<img class="mr-3" height="120px" width="120px" src="http://www.firstnonprofit.org/wp-content/uploads/2018/04/YMCA-Camp-Mason_400x400.jpg" alt="Generic placeholder image">
									{% endif %}
								<div class="media-body">
									<h5 class="mt-0"><a href="{% url 'event_detail' slug=event.slug %}">{{event.title}}</h5></a> 
									<ul class="list-inline product-meta">
												<li class="list-inline-item">
													<p> {{event.business}}</p></li>
												<li class="list-inline-item"><i class="fa fa-location-arrow" style="color:#D01C2E;"></i> {{ event.city }}  </li>
												<li class="list-inline-item"><i class="fa fa-calendar" style="color:#1575FE;" ></i> {{ event.start_date }}  </li>
												<li class="list-inline-item"><i class="fa fa-user" style="color:#009999;" ></i> {{ event.get_class_camp_choice_display }}  </li>
												<li class="list-inline-item"><i class="fa fa-clock" style="color:#ffbb33;" ></i> {{ event.start_time }} - {{ event.end_time }}   </li>
											</ul>
											<p> {{event.description}}</p> 
											
											<button class="btn "><i style="color:#31B91C;" class="fa fa-reply">  </i><a href="{% url 'event_detail' slug=event.slug %}"> More information  </a></button>
								</div>
								</div>
									<div >
													
													
									</div>
									<br> 
									<br> 

									
        				{% endfor %}


						{% else %}

									<div class="media">
									
								<div class="media-body">
									<h5 class="mt-0">{{events.buiness}}  no upcoming events </h5>			
								</div>
								</div>
									{% endif %}
								
							</div>
							<!-- End Event For Loop -->

							




							<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
							
								<h3 class="tab-title raleway">Leave a review for  {{business_review.name}}</h3>
								<div class="product-review">
							  		
							  		<div class="review-submission">
							  			
						  				<!-- Rate -->
						  				
						  				<div class="review-submit">
											<!-- Working Form  -->

												<form role="form" action="" method="post" class= "subtitle is-4" >
												{% csrf_token %}
												{{ form|crispy }}
												<br>
												<button type="submit" class="btn btn-primary  form-padding">Submit</button>   
													</form> 
													<!-- Non Working Form  -->
						  					{% comment %} <form action="#" class="row">
						  						<div class="col-lg-6">
						  							<input type="text" name="name" id="name" class="form-control" placeholder="Name">
						  						</div>
						  						<div class="col-lg-6">
						  							<input type="email" name="email" id="email" class="form-control" placeholder="Email">
						  						</div>
						  						<div class="col-12">
						  							<textarea name="review" id="review" rows="10" class="form-control" placeholder="Message"></textarea>
						  						</div>
						  						<div class="col-12">
						  							<button type="submit" class="btn btn-main">Sumbit</button>
						  						</div>
						  					</form> {% endcomment %}

						  				</div>
							  		</div>
							  	</div>
							</div>
						</div>




						
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sidebar">
					
					<!-- User Profile widget -->
					{% if business_review.image %}
					<div class="widget map" >
					
						<img class="mr-3 roundit" height="100%" width="100%" src="{{ business_review.image.url }}" alt="Generic placeholder image">

					</div>
					{% else %}
					<div class="widget map" >
					
						<img class="mr-3 roundit" height="100%" width="100%" src="http://www.thestorysiren.com/wp-content/uploads/2018/10/beverage-3157395_1920-1100x660.jpg" alt="Generic placeholder image">

					</div>
					{% endif %}
					
					<!-- Real Map, David just uncomment the div below for the map when its ready  -->

					

							<!-- Fake Map -->
							 <div class="widget map" >

							 

							 <div id = "map" class="d-block w-100" height="300px" width="300px">
							</div> 
					</div> 
					<!-- Rate Widget -->
					
					<!-- Safety tips widget -->
					
					<!-- Coupon Widget -->
					 {% comment %} <div class="widget coupon text-center">

					 
						
					</div> {% endcomment %}
					 
				</div>
			</div>
			
		</div>
	</div>
	<br>
<br>
<br>

	<!-- Container End -->
</section>


{% endblock content %}
{% block pagescripts %}
	<script src= "{% static 'js/bizdetailmap.js' %}"></script>
{% endblock pagescripts %}
