{% extends 'base.html' %} 
{% block title %}
Homepage - {{ block.super }} 
{% endblock title %}

{% block content %}



<!--=================================
=            Single Blog            =
==================================-->

<div class="row">
			<div class="col-md-12">
				<div class="section-title">
				<!-- Secodnary Nav -->
				<nav >
					<a  class="navtwo" href="#" title="Home"><i class="fas fa-map-marker-alt fa-3x"></i> Activities by City</a>
					<a  class="navtwo" href="#" title="Home"><i class="fas fa-futbol fa-3x"></i> Categories</a>
					<a  class="navtwo" href="#" title="About"><i class="fas fa-check fa-3x"></i> Best Reviewd</a>
					<a  class="navtwo" href="#" title="Store"><i class="fas fa-search fa-3x"></i> Search</a>
					</nav>
				</div>
			</div>
		</div>

<section class="blog single-blog section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
				<article class="single-post">
					<h1> {{event.title}} </h1>
					<ul class="list-inline">
						<li class="list-inline-item"> <a href="{% url 'business_detail' slug=business_slug %}"> {{event.business}}</li>
						<li class="list-inline-item">

						<div id="favorite-section">
									{% if is_favorite %}
									<a href="{% url 'favorite_event' id=event.id %}">
											<i class="fas fa-heart"></i>
									</a>
									{% else %}
									<a href="{% url 'favorite_event' id=event.id %}">
											<i class="far fa-heart"></i>
									</a>
									{% endif %}

        						</div> 
						</li>
					</ul>
					<img src="images/blog/post-4.jpg" alt="article-01">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt  labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip.ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. 
					sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 

					<p> Category: {{event.type_choice}}</p>
					<p> Age: {{event.get_age_choice_display}}</p>
					<p> Camp: {{event.get_class_camp_choice_display}}</p>
					<p> City: {{event.get_cities_choice_display}}</p>
					
					
					<ul class="social-circle-icons list-inline">
				  		<li class="list-inline-item text-center"><a class="fa fa-facebook" href=""></a></li>
				  		<li class="list-inline-item text-center"><a class="fa fa-twitter" href=""></a></li>
				  		<li class="list-inline-item text-center"><a class="fa fa-google-plus" href=""></a></li>
				  		<li class="list-inline-item text-center"><a class="fa fa-pinterest-p" href=""></a></li>
				  		<li class="list-inline-item text-center"><a class="fa fa-linkedin" href=""></a></li>
				  	</ul>
				</article>
				<div class="block comment">
					<h4>Related Content goes here </h4>
					<h4>Possibly related events... </h4>
				</div>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
				<div class="sidebar">
					<!-- Search Widget -->
					<div class="widget search p-0">
						<div class="input-group">
						    <input type="text" class="form-control" id="expire" placeholder="Search...">
						    <span class="input-group-addon"><i class="fa fa-search"></i></span>
					    </div>
					</div>
					<!-- Category Widget -->
					<div class="widget category">
						<!-- Widget Header -->
						<h5 class="widget-header">Categories</h5>
						<ul class="category-list">
							<li><a href="">Appearel <span class="float-right">(2)</span></a></li>
							<li><a href="">Accesories <span class="float-right">(5)</span></a></li>
							<li><a href="">Business<span class="float-right">(7)</span></a></li>
							<li><a href="">Entertaiment<span class="float-right">(3)</span></a></li>
							<li><a href="">Education<span class="float-right">(9)</span></a></li>
						</ul>
					</div>
					<!-- Store Widget -->
					<div class="widget related-store">
						<!-- Widget Header -->
						<h5 class="widget-header">Related Store</h5>
						<ul class="store-list md list-inline">
							<li class="list-inline-item">
								<a href=""><img src="images/popular-offer/populer-offer-02.png" alt="store-image"></a>
							</li>
							<li class="list-inline-item">
								<a href=""><img src="images/popular-offer/populer-offer-03.png" alt="store-image"></a>
							</li>
							<li class="list-inline-item">
								<a href=""><img src="images/popular-offer/populer-offer-04.png" alt="store-image"></a>
							</li>
							<li class="list-inline-item">
								<a href=""><img src="images/popular-offer/populer-offer-05.png" alt="store-image"></a>
							</li>
							<li class="list-inline-item">
								<a href=""><img src="images/popular-offer/populer-offer-06.png" alt="store-image"></a>
							</li>
							<li class="list-inline-item">
								<a href=""><img src="images/popular-offer/populer-offer-07.png" alt="store-image"></a>
							</li>
						</ul>
					</div>
					<!-- Archive Widget -->
					<div class="widget archive">
						<!-- Widget Header -->
						<h5 class="widget-header">Archives</h5>
						<ul class="archive-list">
							<li><a href="">January 2017</a></li>
							<li><a href="">February 2017</a></li>
							<li><a href="">March 2017</a></li>
							<li><a href="">April 2017</a></li>
							<li><a href="">May 2017</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



{% endblock content %}

