{% extends 'base.html' %}
{% block title %}
Event Directory - {{ block.super }}
{% endblock title %}
{% load bootstrap %}
{% load urls %}
{% block content %}

<!-- SECONDARY NAV AREA -->



<!-- Title Bar -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">


				<div class="search-result ">
				<br>

				
            <h2 class=" raleway ">Event Directory</h2>
			
            


					{% comment %} <h2 class="raleway">Event Directory</h2> {% endcomment %}
					<p> Browse Events in the Triangle </p>
					
					


				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="category-sidebar">
					


						

						<div class="widget category-list">
								<h4 class="widget-header">City</h4>
								<ul class="category-list">
							{% for cities_choice in cities_choices %}
							<li>
								{% if filter.data.cities_choice == cities_choice.0 %}
								<h2> {{ cities_choice.1 }} </h2> 
								{% else %}
								<a href="{% replace_query_param url=request.get_full_path param='cities_choice' value=cities_choice.0 %}">
									{{ cities_choice.1 }}
									</a>
								{% endif %}
							</li>
							{% endfor %}</li>
						</ul>
						</div>

					
						<div class="widget category-list">
							<h4 class="widget-header">Ages</h4>
							<ul class="category-list">

								{% for age_choice in age_choices %}
								<li>
									{% if filter.data.age_choice == age_choice.0 %}
									<h2>{{ age_choice.1 }} </h2> 
									{% else %}
									<a href="{% replace_query_param url=request.get_full_path param='age_choice' value=age_choice.0 %}">
										{{ age_choice.1 }}
										</a>
									{% endif %}
								</li>
								{% endfor %}</li>

							</ul>
						</div>

						<div class="widget category-list">
							<h4 class="widget-header">Type</h4>
							<ul class="category-list">
								{% for class_camp_choice in class_camp_choices %}
								<li>
									{% if filter.data.class_camp_choice == class_camp_choice.0 %}
									 <h2> {{ class_camp_choice.1 }} </h2> 
									{% else %}
									<a href="{% replace_query_param url=request.get_full_path param='class_camp_choice' value=class_camp_choice.0 %}">
										{{ class_camp_choice.1 }}
										</a>
									{% endif %}
								</li>
								{% endfor %}</li>

							</ul>

						</div>


						

						

						<div class="container">




							{% comment %}
							<ul>
								{% for event in filter.qs %}
								<li>

									{{ event.title }} - {{ event.class_camp_choice }}
									<p>{{ event.start_date }} - {{ event.end_date }}</p>
									<p>{{ event.start_time }} - {{ event.end_time }}</p>
									<p>{{ event.type_choice }}</p>
									<p>{{ event.get_age_choice_display }}</p>
									<p>{{ event.get_cities_choice_display }}</p>
									<p>{{ event.business }}</p>
									<p>{{ event.link }}</p>
									<p>{{ event.description }}</p>
									<p>{{ event.address }}</p>
									<!-- <p>{{ event.city }}</p> -->
									<!-- <p>{{ event.favorite }}</p> -->

								</li>
								{% endfor %}
							</ul> {% endcomment %}

						</div>

					</div>
				</div>
				<div class="col-md-9">
					
					
							
						
						
						<a class="text-large "href="{% url 'event_list_preset' %}"><i class="fa fa-th-large"></i> See All Events</a>
						

						 <div class="inline" id="accordion">
					
							<p  class="inline goright" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
									<a href="#">  Filter Events By Category
									<span ></a>
									<i class="fa fa-angle-down fa-1x" style="color:#D01C2E;"></i>  </span>
									</p>
									<div >
								{% for type_choice in type_choices %}
								<div id="collapseOne" class="collapse list-inline-item " style="text-align: center" aria-labelledby="headingOne" data-parent="#accordion">

										{% if filter.data.type_choice__icontains == type_choice.0 %}
										
										<button class="btn-round-xs success">{{ type_choice.1 }}</button>
									
										{% else %}
										
										<button button type="button" class="btn-round-xs" > <a href="{% replace_query_param url=request.get_full_path param='type_choice__icontains' value=type_choice.0 %}">
											{{ type_choice.1 }}</button>
										</a>
											
										{% endif %}
									
									
							</div>
								{% endfor %}
								</div>
								
								
							
						
					</div>
					 
					







						{% comment %} BUTTON STUFF {% for type_choice in type_choices %}
								
									{% if filter.data.type_choice__icontains == type_choice.0 %}
									<button class="widget-header">{{ type_choice.1 }}</button>
									{% else %}
									<button button type="button" class=" btn-round-xs btn btn-outline-secondary" > <a href="{% replace_query_param url=request.get_full_path param='type_choice__icontains' value=type_choice.0 %}">
										{{ type_choice.1 }}</button>
										
									{% endif %}
								
								{% endfor %} {% endcomment %}
						
						


						<div class="row mt-30">
						
							<!-- THIS FOR LOOP HANDLES THE SEARCH QUERY  -->

							{% for event in filter.qs %}
							<div class="col-sm-12 col-lg-4 col-md-6">
								<div class="product-item bg-light">




									<div class="card profile-card-2 roundit sppad">
										<div class="card-img-block">
													{% if event.image %}
													<img class=" roundit img-fluid " src="{{ event.image.url }}" alt="Card image cap" />
													
													{% else %}
													<img class="img-fluid roundit" src="https://images.pexels.com/photos/877695/pexels-photo-877695.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Card image cap" />
													{% endif %} 
											
										</div>
										<div class="card-body pt-3 ">
										<ul class="list-inline product-meta">
										<h5 class="card-title list-inline-item"><a href="{% url 'event_detail' slug=event.slug %}">{{event.title}}</h5></a>
												<li class="list-inline-item">
													<p>{{event.business }}  <p>
												</li>
												
											
											
											<ul class="list-inline product-meta">
												<li class="list-inline-item">
													<i class="fa fa-calendar" style="color:#009999;" ></i> {{event.start_date }} 
												</li>
												<li class="list-inline-item">
													<i class="fa fa-user" style="color:#ffbb33;" ></i> {{event.get_age_choice_display}} 
												</li>
												<li class="list-inline-item">
													<i class="fa fa-location-arrow" style="color:#D01C2E;"></i> {{event.city}} 
												</li>
											</ul>
											
											<p> {{event.description|slice:":100"}}...</p>
											{% if event.type_choice %}
												<p class="list-inline-item"> <i style="color:#1C76D0;" class="fas fa-globe-americas"></i> {{event.type_choice }}</p>
											{% endif %}
								<br>
											{% comment %} <div class="icon-block centerit "><a href="#"><i style="color:#31B91C;" class="fas fa-chevron-circle-right"></i> See This Business </a></div> {% endcomment %}
											<a href="{% url 'event_detail' slug=event.slug %}"><button type="button" class="btn btn-outline-secondary btn-lg btn-block"> See This Event <i style="color:#31B91C;" class="fas fa-angle-double-right"></i> </button></a>
											</ul>
										</div>
									</div>







								</div>
							</div>
							{% endfor %}






							<!-- junk Event FOR Loop  -->


							<div class="advance-search">

								<div class="row">

									{% comment %} {% for event in event_list %}

									<div>
										<div>
											<h1><a href="{% url 'event_detail' slug=event.slug %}"> Name:{{event.title}} </a></h1>
											<h2>Address:{{event.address }} </h2>
											<!-- <p>EVENT RATING: {{event.average_rating}}</p> -->
											<p> ______________________________________________ <p>
										</div>
									</div>
									{% endfor %} {% endcomment %}




									<!-- THIS FOR LOOP IS NOT WORKING  -->

									{% for event in events %}
									<div class="col-sm-12 col-lg-4 col-md-6">


										<div class="product-item bg-light">

											<div class="card">
												{% if event.image %}
												<div class="thumb-content">
													<img class="mr-3" height="100" width="100" src="{{ event.image.url }}" alt="Generic placeholder image">
												</div>
												{% endif %}
												<div class="card-body">
													<h4><a href="{% url 'event_detail' slug=event.slug %}"> {{event.title}} </a></h4>
													<ul class="list-inline product-meta">
														<li class="list-inline-item">
															<p>{{ event.get_class_camp_choice_display }} </p>
														</li>
														<li class="list-inline-item">
															<p> {{event.description }} </p>
														</li>
														<li class="list-inline-item">
															<p> {{event.address }} </p>
														</li>
														<li class="list-inline-item">
															<p> {{ event.city }} </p>
														</li>

														<li class="list-inline-item">
															<p>{{ event.type_choice }} </p>
														</li>
														<li class="list-inline-item">
															<p>Age Range: {{ event.get_age_choice_display }} </p>
														</li>

													</ul>

													<div class="product-ratings">
														<ul class="list-inline">
															<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
															<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
															<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
															<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
															<li class="list-inline-item"><i class="fa fa-star"></i></li>
														</ul>
													</div>
												</div>
											</div>






											
										</div>
									</div>
									{% endfor %}

								</div>


							</div>





						</div>
						<!-- <div class="pagination justify-content-center">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item active"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
				</div> -->


					</div>
				</div>
			</div>
</section>
{% endblock content %}