{% extends 'base.html' %} 
{% block title %}
Homepage - {{ block.super }} 
{% endblock title %}

{% block content %}





<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center ">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<h1></h1>
					<p><br> </p>
					<div class="short-popular-category-list text-center">
						<h2></h2>
						
					</div>
					
				</div>
				<!-- Advance Search -->
				<!-- Business full text search: (This is the small text field on the top; needs styling) -->
				<div class="advance-search">
					
						<div class="row">
				<!-- End Business full text search: -->
							<!-- Store Search -->
							{% comment %} <div class="col-lg-6 col-md-12">
								<div class="block d-flex">
									<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" placeholder="Search for store">
								</div>
							</div> {% endcomment %}
							
							<div class="col-lg-20 col-md-12">
							<form id="searchform" action="{% url 'business_list' %}" method="get" accept-charset="utf-8">
								<div class="block d-flex">
								
									<input type="text" class="searchbox form-control mb-2 mr-sm-2 mb-sm-0" id="searchform" method="get" name="q" placeholder="Search for businesses, camps, and events in the Triangle!">
									<!-- Search Button -->
									<button class="btn-sm btn-main" type="submit" >SEARCH</button>
									</form>
								</div>
							
								</div>
								
							</div>
						</div>				
				</div>				
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<!--===================================
=            Client Slider            =
====================================-->


<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gray">
	<div class="container">
		<div class="row">
		
			<div class="col-md-12">
			
				<div class="section-title">
				<!-- Secodnary Nav -->
				<!-- <nav >
					<a  class="navtwo" href="#" title="Home"><i class="fas fa-map-marker-alt fa-3x"></i> Activities by City</a>
					<a  class="navtwo" href="#" title="Home"><i class="fas fa-futbol fa-3x"></i> Categories</a>
					<a  class="navtwo" href="#" title="About"><i class="fas fa-check fa-3x"></i> Best Reviewd</a>
					<a  class="navtwo" href="#" title="Store"><i class="fas fa-search fa-3x"></i> Search</a>
					
					
				</nav> -->	
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
				<!-- Secodnary Nav -->
				<nav >
					<a  class="navtwo" href="{% url 'event_list_preset' %}"><i style="color:#F5F56F;" class="fas fa-map-marker-alt fa-2x"></i> Search upcoming events</a>
					<a  class="navtwo" href="#" title="Home"><i style="color:#D01C2E;" class="fas fa-futbol fa-2x"></i> Categories</a>
					<a  class="navtwo" href="#" title="About"><i style="color:#31B91C;" class="fas fa-check fa-2x"></i> Best Reviewd</a>
					<a  class="navtwo" href="{% url 'business_directory' %}" title="Store"><i style="color:#1C76D0;" class="fas fa-search fa-2x"></i> See Business Directory</a>
					</nav>
				</div>
			</div>
		</div> 
		

		<div class="section-title">
			<h2>Top Rated Camps and Businesses</h2>
			
		</div>
		
		<div class="row">
			<!-- offer 01 -->
			<div class="col-sm-12 col-lg-4">
			{% for business in businesses|slice:":6" %}
				<!-- product card -->
			<div class="product-item bg-light">
				<div class="card">
					<div class="thumb-content">
						<!-- <div class="price">$200</div> -->
						<a href="">
							
						</a>
					</div>
					<div class="card-body">
							<ul class="list-inline ">
						
						
							{% if business.image %}
								<img class="mr-3" height="150" width="300" src="{{ business.image.url }}" alt="Generic placeholder image">
								{% else %}
								<img class="mr-3" height="150" width="300" src="https://www.laxymca.org/files/2413/5731/6057/laxymca-logo-colorschemeA.png" alt="Generic placeholder image">
							{% endif %} 

							<li class="list-inline-item">
							<br>
								<h3><a href="{% url 'business_detail' slug=business.slug %}" > {{business.name}} </a></h3>
							</li>
						</ul>


						<ul class="list-inline product-meta">
						<br>

							<li class="list-inline-item">
							<i class="fa fa-location-arrow" style="color:#D01C2E;"></i>  <a href="">{{business.city}}</a></li>
							<br>
							</li>
							
							{% if business.categories %}
							<br>
							<li class="list-inline-item">
								<a href="#"><i style="color:#1C76D0;" class="fas fa-globe-americas"></i> {{ business.categories }} </a>
							</li>

							{% endif %}
								
							
							
							
						</ul>
						
						<a href=""><i class="fa fa-star" style="color:#FAF43D;"></i> <b> {{business.average_rating}}  / 5.0 </b> user rated</a>
						
						
						<div class="product-ratings">
						
						<br>
						<a href="{% url 'business_detail' slug=business.slug %}"><i style="color:#31B91C;" class="fas fa-reply "> </i>  See this Business </a>
						
							
						</div>
					</div>
				</div>
			</div>

						</div>
						<div class="col-sm-12 col-lg-4">
						{% endfor %}

						<p> <a href="{% url 'business_directory' %}"> See All Businesses > </p>
						<br>
						<br>
		    	</ul>
		    </div>	
		</div>

		
		<div class="section-title">
			<h2>Upcoming Events in the Triangle</h2>
			
		</div>
		
		<div class="row">
			<!-- offer 01 -->
			<div class="col-sm-12 col-lg-4">
			{% for event in events|slice:":6" %}
				<!-- product card -->
			<div class="product-item bg-light">

			
			
				<div class="card">
				
				
		
					<div class="card-body">

					{% if event.image %}
						<div class="thumb-content">
							<img class="mr-3" height="150" width="300" src="{{ event.image.url }}" alt="Generic placeholder image">
						</div>
						{% else %}
						<div class="thumb-content">
						<img class="mr-3" height="150" width="300" src="https://kehilanews.com/wp-content/uploads/2018/02/KIDS-WORSHIP_39-300x200.jpg" alt="Generic placeholder image">
						</div>

					{% endif %} 
					
					<br>

						<h3><a href="{% url 'event_detail' slug=event.slug %}"> {{event.title}} </a></h3>
						<ul class="list-inline product-meta">
							<li class="list-inline-item">
								<p><b>{{event.business }} </b> <p>
							</li>
							<li class="list-inline-item">
								<a href=""><i class="fa fa-calendar" style="color:#009999;" ></i> {{event.start_date }} </a>
							</li>
							<li class="list-inline-item">
								<a href=""><i class="fa fa-user" style="color:#ffbb33;" ></i> {{event.get_age_choice_display}} </a>
							</li>
							<li class="list-inline-item">
								<i class="fa fa-location-arrow" style="color:#D01C2E;"></i> {{event.address}} </a>
							</li>
						</ul>
						<p> {{event.description}}</p>
						{% if event.type_choice %}
							<p class="list-inline-item"> <i style="color:#1C76D0;" class="fas fa-globe-americas"></i> {{event.type_choice }}</a></p>
						{% endif %}
						
						<div class="product-ratings">
						<a href="{% url 'event_detail' slug=event.slug %}"><i style="color:#31B91C;" class="fas fa-reply "></i> Learn More! </a>
							
						</div>
					</div>
				</div>
			</div>

						</div>
						<div class="col-sm-12 col-lg-4">
						{% endfor %}

						<p> <a  class="navtwo" href="{% url 'event_list_preset' %}"> See All Events > </p></a>

		    	</ul>
		    </div>	
		</div>
		<br> 
		<br>


		








	</div>
</div>



		    </div>
		</div>
	</div>
</div>

			</div>
		</div>
	</div>
	
</section>



<!--==========================================
=            All Category Section            =
===========================================-->

<section class=" section">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section title -->
				<div class="section-title">
					<h2>Browse Events By Categories</h2>
					
				</div>
				<div class="row">
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="far fa-compass fa-3x"></i>
								<h4>Camps</h4>
							</div>
							
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="fas fa-graduation-cap fa-3x"></i>
								<h4>Academics</h4>
							</div>
							
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="fas fa-paw fa-3x"></i>
								<h4>Animal Care</h4>
							</div>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="fas fa-paint-brush fa-3x"></i>
								<h4>Arts and Crafts</h4>
							</div>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="fas fa-utensils fa-3x"></i>
								<h4>Cooking</h4>
							</div>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="fas fa-basketball-ball fa-3x"></i>
								<h4>Games</h4>
							</div>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="fas fa-dumbbell fa-3x"></i>
								<h4>Fitness</h4>
							</div>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="fab fa-pagelines fa-3x"></i>
								<h4>Outdoor</h4>
							</div>
						</div>
					</div> <!-- /Category List -->

					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="fas fa-drum fa-3x"></i>
								<h4>Performing Arts</h4>
							</div>
							
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="far fa-futbol fa-3x"></i>
								<h4>Sports</h4>
							</div>
							
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="fas fa-laptop fa-3x"></i>
								<h4>Technology</h4>
							</div>
						</div>
					</div> 

					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="far fa-user fa-3x"></i>
								<h4>K-5</h4>
							</div>
						</div>
					</div> 

					<!-- End of Catagory grid -->




				<!-- Original Business Search  -->
				{% comment %} 
					<form id="searchform" action="{% url 'business_list' %}" method="get" accept-charset="utf-8">
			<button class="searchbutton" type="submit">
			  <i class="fa fa-search"></i>
			</button>
			<input class="searchbox" id="searchbox" name="q" type="text" placeholder="Search">
				</form> {% endcomment %}







					
					
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>


{% comment %} <div id='map' width="100%" style='height:400px'>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoidHJpYW5nbGU0a2lkcyIsImEiOiJjanFubWRwMGw3a2hjNGFtc3RrMWQ4OXl5In0.eZj0i5qyOBlmeY2oH6LWow'; // replace this with your access token
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/triangle4kids/cjqnnjj934q5o2rpd5gk06x1q',
      center: [-78.88, 35.88],
      zoom: 9.5
    });
    </script>

	</div> {% endcomment %}
	<br>
	<br>



{% endblock content %}


