{% extends 'base.html' %} 
{% load staticfiles %} 

{% block title %}
Submit an Event - {{ block.super }} 
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}


    <div class="container">




<h1 class="fonttitle "> Submit an event  </h1>
<p> Know of an event we should feature? Let us know! </p>
		<div class="row">


        <body>
          
            <form action="{% url 'event_list_preset' %}" method="post" >
            {% csrf_token %}
            <table>{{form|crispy}}</table>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        

          {% endblock %}
   